.topNav ul {
  list-style: none;
}
.topNav ul li a {
  text-decoration: underline !important;
  color: #fff;
}
.topNav ul li a:hover {
  color: #008000;
}
.topNav {
  width: 100%;
  background-color: slategrey;
  color: #fff;
  margin-bottom: 2%;
  padding: 1px;
}
.topNav h2 {
  margin-left: 35px;
}
